.form {
  margin-top: 40px;
  display: flex;
  margin-bottom: 40px;
  h5 {
    margin-bottom: Opx;
    padding-top: 10px;
  }
}
.dropdown {
  margin-left: 20px;;
}
.country {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 150px;
  margin-top: 40px;
}

.card-category {
  border-color: rgb(16, 42, 66);
  border: solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin-top: 10px;
  color: rgb(16, 42, 66);
}
.card-figures {
  flex-grow: 1;
  font-size: 21px;
}

.revenue-per-month {
  margin-top: 60px;
  .chart {
    margin-top: 40px;
  }
}
