<div class="dashboard-container">

  <div class="form">
    <h5> Country: </h5>
    <div class="dropdown">
      <%= simple_form_for(:country) do |f| %>
        <%= f.select :country, collection: Customer::COUNTRIES %>
      <% end %>
    </div>
  </div>

  <h1> Summary </h1>
  <div class="cards">
    <div class="card-category">
      <div class="card-title">
        <h4>Total revenues</h4>
        <hr>
      </div>
      <div class="card-figures">
         10000
      </div>
    </div>

    <div class="card-category">
      <div class="card-title">
        <h4>Avr. revenue / order</h4>
        <hr>
      </div>
      <div class="card-figures">
         1000
      </div>
    </div>

    <div class="card-category">
      <div class="card-title">
        <h4>Customers</h4>
        <hr>
      </div>
      <div class="card-figures">
         100
      </div>
    </div>
  </div>

  <div class="revenue-per-month">
    <h1> Revenue per month </h1>
    <div class="chart">
      <%= column_chart @orders.group_by_month{ |order| order.date }.to_h { |k, id| [k, id.count] } %>
    </div>

  </div>

</div>
